node-red/flows.json
[{"id":"e77427b7a0d0d471","type":"tab","label":"Foundational","disabled":false,"info":"","env":[]},{"id":"4d015fd4225fb22d","type":"tab","label":"Garage","disabled":false,"info":"","env":[]},{"id":"8c753717.876d78","type":"tab","label":"actionable events","disabled":false,"info":""},{"id":"28570be6da026c3f","type":"tab","label":"Backyard","disabled":false,"info":"","env":[]},{"id":"bbec39cb3afd5f5d","type":"tab","label":"Comfort","disabled":false,"info":"","env":[]},{"id":"42c29c3d1f86f476","type":"tab","label":"Downstairs Bathroom","disabled":false,"info":"","env":[]},{"id":"3e8e1b0944ba335e","type":"tab","label":"Office","disabled":false,"info":"","env":[]},{"id":"3320f5fd6a883b1e","type":"tab","label":"Downstairs","disabled":false,"info":"","env":[]},{"id":"83a0712d6f4b184f","type":"tab","label":"Living Room","disabled":false,"info":"","env":[]},{"id":"677306610029dfa2","type":"subflow","name":"Lock Door","info":"","category":"","in":[{"x":60,"y":40,"wires":[{"id":"f3a26a542db31471"}]}],"out":[{"x":820,"y":20,"wires":[{"id":"ea555db3e167c903","port":0}]},{"x":820,"y":100,"wires":[{"id":"8f9d4d2fb3ced31c","port":0}]}],"env":[{"name":"entity","type":"str","value":""}],"meta":{},"color":"#DDAA99"},{"id":"3b9d019cf42016d0","type":"subflow","name":"Unlock Door","info":"","category":"","in":[{"x":200,"y":100,"wires":[{"id":"6c3d4c7426bfbe8c"}]}],"out":[{"x":1220,"y":100,"wires":[{"id":"76c592c23d0961da","port":0}]},{"x":1240,"y":180,"wires":[{"id":"3fb02c38d7ea5140","port":0}]}],"env":[{"name":"entity","type":"str","value":""}],"meta":{},"color":"#DDAA99"},{"id":"ad692df571edaaad","type":"subflow","name":"Doors and Windows open?","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"98eac6a2be072a95"}]}],"out":[{"x":800,"y":60,"wires":[{"id":"25d6d7dfbc9c1ca7","port":0}]},{"x":800,"y":120,"wires":[{"id":"25d6d7dfbc9c1ca7","port":1}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"2cc94903.962bf6","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"ceea5ac5.1b1658","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"715787751cf60760","type":"ha-entity-config","server":"2cc94903.962bf6","deviceConfig":"","name":"binary sensor config for Set House Occupied","version":6,"entityType":"binary_sensor","haConfig":[{"property":"name","value":""},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"f821b13a71eb86d6","type":"ha-entity-config","server":"2cc94903.962bf6","deviceConfig":"","name":"binary sensor config for Set House Unoccupied","version":6,"entityType":"binary_sensor","haConfig":[{"property":"name","value":""},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"resend":true},{"id":"f3a26a542db31471","type":"api-call-service","z":"677306610029dfa2","name":"Lock Door","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"lock","service":"lock","areaId":[],"deviceId":[],"entityId":["${entity}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":230,"y":40,"wires":[["ea555db3e167c903"]]},{"id":"ea555db3e167c903","type":"ha-wait-until","z":"677306610029dfa2","name":"Wait Until Locked","server":"2cc94903.962bf6","version":2,"outputs":2,"entityId":"${entity}","entityIdFilterType":"exact","property":"state","comparator":"is","value":"locked","valueType":"str","timeout":"20","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"x":510,"y":40,"wires":[[],["8f9d4d2fb3ced31c"]]},{"id":"8f9d4d2fb3ced31c","type":"counter-loop","z":"677306610029dfa2","name":"retry","counter":"il1544edc46bf8c8ae","counterType":"msg","reset":true,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"${retries}","terminationType":"num","increment":1,"incrementType":"num","x":330,"y":120,"wires":[[],["f3a26a542db31471"]]},{"id":"6c3d4c7426bfbe8c","type":"api-call-service","z":"3b9d019cf42016d0","name":"Unlock Door","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"lock","service":"unlock","areaId":[],"deviceId":[],"entityId":["${entity}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":120,"wires":[["76c592c23d0961da"]]},{"id":"76c592c23d0961da","type":"ha-wait-until","z":"3b9d019cf42016d0","name":"Wait Until Locked","server":"2cc94903.962bf6","version":2,"outputs":2,"entityId":"${entity}","entityIdFilterType":"exact","property":"state","comparator":"is","value":"unlocked","valueType":"str","timeout":"20","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"x":990,"y":140,"wires":[[],["3fb02c38d7ea5140"]]},{"id":"3fb02c38d7ea5140","type":"counter-loop","z":"3b9d019cf42016d0","name":"retry","counter":"il1544edc46bf8c8ae","counterType":"msg","reset":true,"resetValue":"value-null","initial":0,"initialType":"num","operator":"lt","termination":"2","terminationType":"num","increment":1,"incrementType":"num","x":750,"y":220,"wires":[[],["6c3d4c7426bfbe8c"]]},{"id":"98eac6a2be072a95","type":"ha-get-entities","z":"ad692df571edaaad","name":"Gather Contact Sensors","server":"2cc94903.962bf6","version":0,"rules":[{"property":"entity_id","logic":"is","value":"binary_sensor.*_contact*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":190,"y":80,"wires":[["e28d025acf6f8bcd"]]},{"id":"e28d025acf6f8bcd","type":"function","z":"ad692df571edaaad","name":"","func":"const open_doors_or_windows = []\n\nfor (let i in msg.payload) {\n    if(msg.payload[i].state != \"off\" && [\"entry_point\", \"exterior\"].includes(msg.payload[i].attributes.security_zone)) {\n        open_doors_or_windows.push(msg.payload[i].attributes.friendly_name);\n    }\n}\n\nmsg.topic = \"The following doors or windows are open\";\nmsg.payload = open_doors_or_windows;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":80,"wires":[["25d6d7dfbc9c1ca7"]]},{"id":"25d6d7dfbc9c1ca7","type":"switch","z":"ad692df571edaaad","name":"Contacts sensors closed?","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":80,"wires":[[],[]]},{"id":"45174b9d7e933927","type":"server-state-changed","z":"e77427b7a0d0d471","name":"Early Morning Mode","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.early_morning","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":80,"wires":[["4cb085b276244b5a","5ab049021f404c11","5e57be62d01a61f8"],[]]},{"id":"96efde25effd3736","type":"server-state-changed","z":"e77427b7a0d0d471","name":"Evening Mode","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.evening","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":260,"wires":[["4cb085b276244b5a"],[]]},{"id":"c3a4e286f0eace9d","type":"server-state-changed","z":"e77427b7a0d0d471","name":"Afternoon Mode","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.afternoon","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":200,"wires":[["4cb085b276244b5a"],[]]},{"id":"0341de43caa02e7f","type":"server-state-changed","z":"e77427b7a0d0d471","name":"Morning Mode","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.morning","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":140,"wires":[["4cb085b276244b5a"],[]]},{"id":"94d667430b8e9219","type":"server-state-changed","z":"e77427b7a0d0d471","name":"Night Mode","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.night","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":320,"wires":[["4cb085b276244b5a"],[]]},{"id":"4cb085b276244b5a","type":"function","z":"e77427b7a0d0d471","name":"Set TOD Mode","func":"topic = msg.topic.replace('binary_sensor.', '');\nglobal.set('mode', topic);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":180,"wires":[[]]},{"id":"5ab049021f404c11","type":"api-call-service","z":"e77427b7a0d0d471","name":"Wake up House","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.house_is_asleep"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":120,"wires":[[]]},{"id":"a714dec56880328a","type":"server-state-changed","z":"e77427b7a0d0d471","name":"House going to sleep","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.house_is_asleep","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":460,"wires":[["f929cf70f91cb559"],[]]},{"id":"2d008e15b24070d8","type":"ha-get-entities","z":"e77427b7a0d0d471","name":"Get all lights that are on","server":"2cc94903.962bf6","version":0,"rules":[{"property":"state","logic":"is","value":"on","valueType":"str"},{"property":"entity_id","logic":"starts_with","value":"light.","valueType":"str"},{"property":"entity_id","logic":"is_not","value":"light.front_door_light","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":330,"y":740,"wires":[["eb9ca23911b20380"]]},{"id":"eb9ca23911b20380","type":"function","z":"e77427b7a0d0d471","name":"Shut off lights","func":"const lights_on = []\n\nfor (let i in msg.payload) {\n    lights_on.push(msg.payload[i].entity_id);\n}\n\nmsg.payload = {\n   \"entity_id\":lights_on\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":740,"wires":[["267d94a882fe836d"]]},{"id":"267d94a882fe836d","type":"api-call-service","z":"e77427b7a0d0d471","name":"Turn Off Lights","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["{{payload.entity_id}}"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":740,"wires":[[]]},{"id":"df9e880a98c8a8ce","type":"function","z":"e77427b7a0d0d471","name":"","func":"const open_doors_or_windows = []\n\nfor (let i in msg.payload) {\n    if(msg.payload[i].state != \"off\" && msg.payload[i].attributes.security_zone == \"entry_point\") {\n        open_doors_or_windows.push(msg.payload[i].attributes.friendly_name);\n    }\n}\n\nmsg.topic = \"The following doors or windows are open\";\nmsg.payload = open_doors_or_windows;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":460,"wires":[["3f74d6c299905957"]]},{"id":"f929cf70f91cb559","type":"ha-get-entities","z":"e77427b7a0d0d471","name":"Gather Contact Sensors","server":"2cc94903.962bf6","version":0,"rules":[{"property":"entity_id","logic":"is","value":"binary_sensor.*_contact.*","valueType":"re"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":390,"y":460,"wires":[["df9e880a98c8a8ce"]]},{"id":"3f74d6c299905957","type":"switch","z":"e77427b7a0d0d471","name":"Contacts sensors closed?","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":460,"wires":[["fcb5bd2c4a2a82ea"],["acf188dca1c0e01c","46048484bef28dc5","2cc34e10b2c5075d","2d008e15b24070d8"]]},{"id":"2cc34e10b2c5075d","type":"subflow:677306610029dfa2","z":"e77427b7a0d0d471","name":"Lock Garage Entry Door","env":[{"name":"entity","value":"lock.kwickset_hallway","type":"str"}],"x":330,"y":660,"wires":[[],["ad91c6a59b542c3b"]]},{"id":"46048484bef28dc5","type":"subflow:677306610029dfa2","z":"e77427b7a0d0d471","name":"Lock Garage Man Door","env":[{"name":"entity","value":"lock.yale_garage","type":"str"}],"x":330,"y":600,"wires":[[],["c64845d4dc07cbd4"]]},{"id":"acf188dca1c0e01c","type":"subflow:677306610029dfa2","z":"e77427b7a0d0d471","name":"Lock Front Door","env":[{"name":"entity","value":"lock.yale_front_door","type":"str"}],"x":300,"y":540,"wires":[[],["5234c6a68e2aa74d"]]},{"id":"39dc904b5aee5ee1","type":"link in","z":"e77427b7a0d0d471","name":"","links":["6a139339a5fa7725"],"x":75,"y":540,"wires":[["acf188dca1c0e01c","46048484bef28dc5","2cc34e10b2c5075d"]]},{"id":"fcb5bd2c4a2a82ea","type":"function","z":"e77427b7a0d0d471","name":"Prepare Notification","func":"var open_doors_or_windows = [];\n\nfor (let i in msg.payload) {\n        open_doors_or_windows.push(msg.payload[i]);\n    }\n\nvar new_msg = { \"payload\": {\n        \"data\":  {\n            \"text\": \"The following doors or windows are open, \" + open_doors_or_windows.join() + \". Do you want to continue?\",\n            \"event_id\": \"continue_locking_doors\",\n            \"alexa_device\": \"media_player.kitchen\",\n            }\n    }\n}\n\n\nreturn new_msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":460,"wires":[["80e48bc088c018c1"]]},{"id":"80e48bc088c018c1","type":"api-call-service","z":"e77427b7a0d0d471","name":"Alexa Action","server":"2cc94903.962bf6","version":5,"debugenabled":true,"domain":"script","service":"activate_alexa_actionable_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{{ data }}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1310,"y":460,"wires":[[]]},{"id":"14356d17b328be43","type":"api-call-service","z":"e77427b7a0d0d471","name":"Notify door failed to lock","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"python_script","service":"alexa_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{{ payload }}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":580,"wires":[[]]},{"id":"5234c6a68e2aa74d","type":"change","z":"e77427b7a0d0d471","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\":{\"message\":\"Front door failed to lock\",\"title\":\"Lock Failure\",\"device\":\"last_called\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":540,"wires":[["14356d17b328be43"]]},{"id":"c64845d4dc07cbd4","type":"change","z":"e77427b7a0d0d471","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\":{\"message\":\"Garage Man door failed to lock\",\"title\":\"Lock Failure\",\"device\":\"last_called\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":600,"wires":[["14356d17b328be43"]]},{"id":"ad91c6a59b542c3b","type":"change","z":"e77427b7a0d0d471","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\":{\"message\":\"Garage Entry door failed to lock\",\"title\":\"Lock Failure\",\"device\":\"last_called\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":660,"wires":[["14356d17b328be43"]]},{"id":"3432f415d3639e7a","type":"comment","z":"e77427b7a0d0d471","name":"Set TOD Globals","info":"","x":120,"y":20,"wires":[]},{"id":"54f27fb377a3b0ff","type":"comment","z":"e77427b7a0d0d471","name":"Tell the house to sleep","info":"","x":140,"y":400,"wires":[]},{"id":"4c1126c11bbf111e","type":"server-state-changed","z":"e77427b7a0d0d471","name":"House Occupied","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.anyone_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":120,"y":1280,"wires":[["bacd42723dbac664"]]},{"id":"bacd42723dbac664","type":"switch","z":"e77427b7a0d0d471","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1280,"wires":[["eca0f0a11b6ec0c0","b715c9f52751e39c","190a3f76680e4e25"],["7c5289d74b5713fe","aa9034048955f37e","f2acb02e8cf541e6","adaa74f625256bf4"]]},{"id":"eca0f0a11b6ec0c0","type":"subflow:3b9d019cf42016d0","z":"e77427b7a0d0d471","name":"Unlock Garage Entry Door","env":[{"name":"entity","value":"lock.kwickset_hallway","type":"str"}],"x":600,"y":1260,"wires":[[],[]]},{"id":"5df3a0f05b57f7a3","type":"server-state-changed","z":"e77427b7a0d0d471","name":"John Presence","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.john_timon","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":880,"wires":[["af6bbe53e035b379"],["a4b227d0376e41f0"]]},{"id":"70427618f7d33772","type":"server-state-changed","z":"e77427b7a0d0d471","name":"Chistine Presence","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.christine","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":940,"wires":[["af6bbe53e035b379"],["41b0984533433a9e"]]},{"id":"a4b227d0376e41f0","type":"api-current-state","z":"e77427b7a0d0d471","name":"Is Christine Home","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.christine_timons_iphone_13","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":920,"wires":[[],["f9907ec85052d27f"]]},{"id":"41b0984533433a9e","type":"api-current-state","z":"e77427b7a0d0d471","name":"Is John Home","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.johns_telemaphone_new","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":440,"y":980,"wires":[[],["f9907ec85052d27f"]]},{"id":"b715c9f52751e39c","type":"subflow:3b9d019cf42016d0","z":"e77427b7a0d0d471","name":"Unlock Front Door","env":[{"name":"entity","value":"lock.yale_front_door","type":"str"}],"x":630,"y":1220,"wires":[[],[]]},{"id":"7c5289d74b5713fe","type":"api-current-state","z":"e77427b7a0d0d471","name":"Master Bedroom Door Closed","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.lumi_master_bedroom_contact_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":1460,"wires":[["f11f5eb740eac97a"],[]]},{"id":"f11f5eb740eac97a","type":"api-call-service","z":"e77427b7a0d0d471","name":"Lock Master Bedroom","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.shelly1_3083988c068a"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":1460,"wires":[[]]},{"id":"190a3f76680e4e25","type":"api-call-service","z":"e77427b7a0d0d471","name":"Unock Master Bedroom","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.shelly1_3083988c068a"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":1160,"wires":[[]]},{"id":"12154ddf96101639","type":"comment","z":"e77427b7a0d0d471","name":"Is the House Occupied","info":"","x":140,"y":820,"wires":[]},{"id":"64c75c821cc53162","type":"comment","z":"e77427b7a0d0d471","name":"House Occupancy Changed Automations","info":"","x":200,"y":1200,"wires":[]},{"id":"119ab4b56a24a041","type":"eztimer","z":"e77427b7a0d0d471","name":"Dusk/1 am Front door light control","debug":false,"autoname":"dusk - 01:00:00","tag":"","topic":"","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"haZone","latLongHaZone":"zone.home","lat":"37.68834825558749","lon":"-121.72614460307732","timerType":"1","startupMessage":false,"ontype":"1","ontimesun":"dusk","ontimetod":"17:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"json","onvalue":"{\"service\": \"turn_on\"}","onoffset":0,"onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dawn","offtimetod":"01:00:00","offduration":0,"offpropertytype":"msg","offproperty":"payload","offvaluetype":"json","offvalue":"{\"service\":\"turn_off\"}","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"1m","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":180,"y":1660,"wires":[["9fd3324dbdf62e06"]]},{"id":"9fd3324dbdf62e06","type":"api-call-service","z":"e77427b7a0d0d471","name":"Toggle front door light","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"light","service":"{{ payload.service }}","areaId":[],"deviceId":[],"entityId":["light.front_door_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":1660,"wires":[[]]},{"id":"009307f4ebf00542","type":"eztimer","z":"e77427b7a0d0d471","name":"Dining room Light contol 17:30 - 19:30","debug":false,"autoname":"17:38:50 - 21:40:00","tag":"","topic":"","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"haZone","latLongHaZone":"zone.home","lat":"37.68834825558749","lon":"-121.72614460307732","timerType":"1","startupMessage":false,"ontype":"2","ontimesun":"dusk","ontimetod":"17:38:50","onpropertytype":"msg","onproperty":"payload","onvaluetype":"json","onvalue":"{\"service\": \"turn_on\"}","onoffset":"20","onrandomoffset":true,"onsuppressrepeats":true,"offtype":"2","offtimesun":"dawn","offtimetod":"21:40:00","offduration":0,"offpropertytype":"msg","offproperty":"payload","offvaluetype":"json","offvalue":"{\"service\":\"turn_off\"}","offoffset":"30","offrandomoffset":true,"offsuppressrepeats":true,"resend":false,"resendInterval":"1m","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":190,"y":1760,"wires":[["dd052b111fa7ec61"]]},{"id":"fb3a36cc442488c6","type":"api-call-service","z":"e77427b7a0d0d471","name":"Toggle dining room light","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"light","service":"{{ flow.payload.service }}","areaId":[],"deviceId":[],"entityId":["light.dining_room_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":1780,"wires":[[]]},{"id":"e4b93da6358e605f","type":"api-call-service","z":"e77427b7a0d0d471","name":"Toggle kitchen light","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"switch","service":"{{ msg.payload.service }}","areaId":[],"deviceId":[],"entityId":["switch.kitchen_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":1720,"wires":[[]]},{"id":"dd052b111fa7ec61","type":"api-current-state","z":"e77427b7a0d0d471","name":"House Occupied","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.anyone_home","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":1760,"wires":[["e4b93da6358e605f","fb3a36cc442488c6","7b2590cf6447661a"],[]]},{"id":"9fe8ce70e72da66b","type":"comment","z":"e77427b7a0d0d471","name":"Light Controls while away","info":"","x":150,"y":1600,"wires":[]},{"id":"aa9034048955f37e","type":"subflow:677306610029dfa2","z":"e77427b7a0d0d471","name":"Lock Front Door","env":[{"name":"entity","value":"lock.yale_front_door","type":"str"}],"x":460,"y":1320,"wires":[[],[]]},{"id":"f2acb02e8cf541e6","type":"subflow:677306610029dfa2","z":"e77427b7a0d0d471","name":"Lock Garage Man Door","env":[{"name":"entity","value":"lock.yale_garage","type":"str"}],"x":490,"y":1360,"wires":[[],[]]},{"id":"adaa74f625256bf4","type":"subflow:677306610029dfa2","z":"e77427b7a0d0d471","name":"Lock Garage Entry Door","env":[{"name":"entity","value":"lock.kwickset_hallway","type":"str"}],"x":490,"y":1400,"wires":[[],[]]},{"id":"5e57be62d01a61f8","type":"api-call-service","z":"e77427b7a0d0d471","name":"Disable A/C Override","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.override_ac_control","input_boolean.house_is_asleep"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":60,"wires":[[]]},{"id":"024da5ab6613b750","type":"comment","z":"e77427b7a0d0d471","name":"Put House to sleep when going to bed","info":"","x":210,"y":1860,"wires":[]},{"id":"a41d781d65b3e80f","type":"server-state-changed","z":"e77427b7a0d0d471","name":"Phone in DND","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.johns_telemaphone_focus","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":1920,"wires":[["4a9b145f20d43060"],[]]},{"id":"4a9b145f20d43060","type":"api-current-state","z":"e77427b7a0d0d471","name":"Charging","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"charging","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.johns_telemaphone_battery_state","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":1920,"wires":[["ad23beae964ce8bd"],[]]},{"id":"ad23beae964ce8bd","type":"api-current-state","z":"e77427b7a0d0d471","name":"Phone Home","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.johns_telemaphone_new","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":550,"y":1920,"wires":[["7676daefa25cb0c8"],[]]},{"id":"d03e1c766a64bc54","type":"server-state-changed","z":"e77427b7a0d0d471","name":"Phone Charging","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"device_tracker.unifi_f8_54_b8_49_62_09_default","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":2000,"wires":[["6b679a58cfd79610"]]},{"id":"6b679a58cfd79610","type":"api-current-state","z":"e77427b7a0d0d471","name":"Phone in DND","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.johns_telemaphone_focus","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":2000,"wires":[["ad23beae964ce8bd"],[]]},{"id":"7676daefa25cb0c8","type":"api-call-service","z":"e77427b7a0d0d471","name":"Put house to sleep","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.house_is_asleep"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":1920,"wires":[[]]},{"id":"af6bbe53e035b379","type":"ha-binary-sensor","z":"e77427b7a0d0d471","name":"Set House Occupied","entityConfig":"715787751cf60760","version":0,"state":"on","stateType":"str","attributes":[],"inputOverride":"allow","outputProperties":[],"x":460,"y":860,"wires":[[]]},{"id":"f9907ec85052d27f","type":"ha-binary-sensor","z":"e77427b7a0d0d471","name":"Set House Unoccupied","entityConfig":"f821b13a71eb86d6","version":0,"state":"off","stateType":"str","attributes":[],"inputOverride":"allow","outputProperties":[],"x":750,"y":900,"wires":[[]]},{"id":"bbb09e69d2aaf564","type":"comment","z":"e77427b7a0d0d471","name":"Remind me to take my Blood Pressure Pill","info":"","x":200,"y":2080,"wires":[]},{"id":"2c2c3b764a50b17b","type":"eztimer","z":"e77427b7a0d0d471","name":"Medication Reminder","debug":false,"autoname":"12:00:00","tag":"eztimer","topic":"","suspended":false,"sendEventsOnSuspend":false,"latLongSource":"haZone","latLongHaZone":"zone.home","lat":"37.68834825558749","lon":"-121.72614460307732","timerType":"2","startupMessage":false,"ontype":"2","ontimesun":"dawn","ontimetod":"12:00:00","onpropertytype":"msg","onproperty":"payload","onvaluetype":"num","onvalue":1,"onoffset":0,"onrandomoffset":0,"onsuppressrepeats":false,"offtype":"9","offtimesun":"dusk","offtimetod":"dusk","offduration":"00:01:00","offpropertytype":"msg","offproperty":"payload","offvaluetype":"num","offvalue":0,"offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"resend":false,"resendInterval":"0s","mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":160,"y":2180,"wires":[["bd2e78410536732a"]]},{"id":"bd2e78410536732a","type":"api-call-service","z":"e77427b7a0d0d471","name":"Notify John","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"python_script","service":"iphone_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Remenber to take your Blood Pressure Pill\",\"title\":\"Medication time\",\"device\":\"johns_telemaphone\",\"data\":{}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":2180,"wires":[[]]},{"id":"7b2590cf6447661a","type":"api-call-service","z":"e77427b7a0d0d471","name":"Toggle fence lights","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"light","service":"{{ flow.payload.service }}","areaId":[],"deviceId":[],"entityId":["light.fence_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":1660,"wires":[[]]},{"id":"293ff6b134500833","type":"server-state-changed","z":"4d015fd4225fb22d","name":"Garage Door Button Pressed","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.momentary_garage_door_button","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":100,"wires":[["bf229bc362afe1dd"],[]]},{"id":"bf229bc362afe1dd","type":"api-call-service","z":"4d015fd4225fb22d","name":"Press Garage Door Button","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.garage_door_backup"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":100,"wires":[[]]},{"id":"fe73be744909a941","type":"server-state-changed","z":"4d015fd4225fb22d","name":"Garage Door Button Released","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.momentary_garage_door_button","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":160,"wires":[["9ec8f593a97d3fbc"],[]]},{"id":"9ec8f593a97d3fbc","type":"api-call-service","z":"4d015fd4225fb22d","name":"Press Garage Door Button","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.garage_door_backup"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":160,"wires":[[]]},{"id":"2d2b82f4e7180bb2","type":"server-state-changed","z":"4d015fd4225fb22d","name":"Man Door Open","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.lumi_garage_man_door_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":300,"wires":[["7423b8597d564565"],["8d3022083a6f8dd4"]]},{"id":"7423b8597d564565","type":"function","z":"4d015fd4225fb22d","name":"Dark?","func":"mode = global.get('mode');\nvar side_yard_light_state = global.get(\n        \"homeassistant.homeAssistant.states['light.side_yard_light'].state\"\n    );\nmsg.payload = \"turn_off\";\nmsg.mode = mode;\nmsg.topic = \"tod\"\nif (mode == \"evening\" || mode == \"night\" && side_yard_light_state == \"off\") {\n    msg.payload = 'turn_on';\n    msg.reset = true;\n} \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":300,"wires":[["143ace0e9e624130","061c394b1e556e3d"]]},{"id":"143ace0e9e624130","type":"api-call-service","z":"4d015fd4225fb22d","name":"Side Yard Light ","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"light","service":"{{payload}}","areaId":[],"deviceId":[],"entityId":["light.side_yard_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":280,"wires":[[]]},{"id":"8d3022083a6f8dd4","type":"api-current-state","z":"4d015fd4225fb22d","name":"Side Yard Light","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.side_yard_light","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":340,"wires":[["061c394b1e556e3d"],[]]},{"id":"061c394b1e556e3d","type":"trigger","z":"4d015fd4225fb22d","name":"","op1":"","op2":"turn_off","op1type":"nul","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":490,"y":340,"wires":[["143ace0e9e624130"]]},{"id":"cc204c1b7f325fc4","type":"comment","z":"4d015fd4225fb22d","name":"Backup Garage Door Button","info":"","x":140,"y":40,"wires":[]},{"id":"6c12d6a207c81c7e","type":"comment","z":"4d015fd4225fb22d","name":"Side yard light","info":"","x":90,"y":240,"wires":[]},{"id":"c9cb5776.034ef8","type":"api-call-service","z":"8c753717.876d78","name":"kitchen off","server":"ceea5ac5.1b1658","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.kitchen_light"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","output_location":"","output_location_type":"none","x":1210,"y":220,"wires":[[]]},{"id":"e8e6513b.43b1e","type":"switch","z":"8c753717.876d78","name":"Notification Response","property":"payload.event.event_response","propertyType":"msg","rules":[{"t":"eq","v":"ResponseYes","vt":"str"},{"t":"eq","v":"ResponseNo","vt":"str"},{"t":"eq","v":"ResponseNone","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":880,"y":160,"wires":[["c9cb5776.034ef8"],[],["c9cb5776.034ef8"]]},{"id":"935da565.4e0958","type":"switch","z":"8c753717.876d78","name":"Event ID LIST","property":"payload.event.event_id","propertyType":"msg","rules":[{"t":"eq","v":"kitchen","vt":"str"},{"t":"eq","v":"barbbed","vt":"str"},{"t":"eq","v":"continue_locking_doors","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":440,"y":180,"wires":[["e8e6513b.43b1e"],[],["25e95af1f4b73628"]]},{"id":"ef68ab29.b75c68","type":"server-events","z":"8c753717.876d78","name":"Alexa Notification Response","server":"ceea5ac5.1b1658","version":2,"eventType":"alexa_actionable_notification","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":160,"y":180,"wires":[["935da565.4e0958"]]},{"id":"bd4cb245.94fc3","type":"comment","z":"8c753717.876d78","name":"list of events IDs to flow to devices","info":"","x":460,"y":100,"wires":[]},{"id":"25e95af1f4b73628","type":"switch","z":"8c753717.876d78","name":"Continue locking doors","property":"payload.event.event_response","propertyType":"msg","rules":[{"t":"eq","v":"ResponseYes","vt":"str"},{"t":"eq","v":"ResponseNo","vt":"str"},{"t":"eq","v":"ResponseNone","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":710,"y":280,"wires":[["6a139339a5fa7725"],[],[]]},{"id":"6a139339a5fa7725","type":"link out","z":"8c753717.876d78","name":"Continue Locking Doors","mode":"link","links":["02b3796ee0557c27","39dc904b5aee5ee1"],"x":995,"y":280,"wires":[]},{"id":"db6e840ec15ed5d5","type":"server-events","z":"8c753717.876d78","name":"Iphone Notification Response","server":"ceea5ac5.1b1658","version":2,"eventType":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":160,"y":520,"wires":[["a3098c8ec1965ecc"]]},{"id":"a3098c8ec1965ecc","type":"switch","z":"8c753717.876d78","name":"Event ID LIST","property":"payload.event.action","propertyType":"msg","rules":[{"t":"regex","v":"ac_notification.*","vt":"str","case":true},{"t":"regex","v":"hvac_","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":520,"wires":[["ae46efbc42748f20"],["038163e21b27e2ef"]]},{"id":"ae46efbc42748f20","type":"link out","z":"8c753717.876d78","name":"AC Notification Control","mode":"link","links":["c1c73699b15ba9af"],"x":675,"y":480,"wires":[]},{"id":"038163e21b27e2ef","type":"link out","z":"8c753717.876d78","name":"HVAC Notification","mode":"link","links":["6f67d1d7bfba8728"],"x":675,"y":520,"wires":[]},{"id":"be0395a151845383","type":"api-current-state","z":"28570be6da026c3f","name":"Autofill?","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"switch.pool_autofill","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":100,"wires":[["d78fa9787b5de35c"],[]]},{"id":"d78fa9787b5de35c","type":"api-call-service","z":"28570be6da026c3f","name":"Open Pool Valve","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pool_valve"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":100,"wires":[[]]},{"id":"abcc2b20916535c6","type":"api-call-service","z":"28570be6da026c3f","name":"Close Pool Valve","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pool_valve"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":330,"y":160,"wires":[[]]},{"id":"955982c0aa909c30","type":"server-state-changed","z":"28570be6da026c3f","name":"Pool Water Level","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.pool_water_level","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":120,"wires":[["be0395a151845383"],["abcc2b20916535c6"]]},{"id":"1da7fb86edd52e5f","type":"comment","z":"28570be6da026c3f","name":"Pool Auto Fill","info":"","x":110,"y":60,"wires":[]},{"id":"1b3daafb698ebd01","type":"server-state-changed","z":"28570be6da026c3f","name":"Pool Autofill Toggle","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.pool_autofill","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":240,"wires":[["5e88bc827aaa3b4e"],["abcc2b20916535c6"]]},{"id":"5e88bc827aaa3b4e","type":"api-current-state","z":"28570be6da026c3f","name":"Pool Water Level ","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pool_water_level","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":240,"wires":[["d78fa9787b5de35c"],[]]},{"id":"6dfe04517315e483","type":"server-events","z":"28570be6da026c3f","name":"Zwave Switch","server":"2cc94903.962bf6","version":2,"eventType":"zwave_js_value_notification","exposeToHomeAssistant":false,"eventData":"","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"}],"x":110,"y":520,"wires":[["480a0277be7f2a18"]]},{"id":"480a0277be7f2a18","type":"switch","z":"28570be6da026c3f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"payload.event.node_id = 18\tand payload.event.device_id = \"1634d0c43b3245c7ba5ab14202bedd1f\"\tand payload.event.property_key = \"001\"\tand payload.event.value = \"KeyPressed\"\t","vt":"jsonata"},{"t":"jsonata_exp","v":"payload.event.node_id = 18\tand payload.event.device_id = \"1634d0c43b3245c7ba5ab14202bedd1f\"\tand payload.event.property_key = \"002\"\tand payload.event.value = \"KeyPressed\"\t","vt":"jsonata"},{"t":"jsonata_exp","v":"payload.event.node_id = 18\tand payload.event.device_id = \"1634d0c43b3245c7ba5ab14202bedd1f\"\tand payload.event.property_key = \"003\"\tand payload.event.value = \"KeyPressed\"\t","vt":"jsonata"},{"t":"jsonata_exp","v":"payload.event.node_id = 18\tand payload.event.device_id = \"1634d0c43b3245c7ba5ab14202bedd1f\"\tand payload.event.property_key = \"004\"\tand payload.event.value = \"KeyPressed\"\t","vt":"jsonata"}],"checkall":"false","repair":false,"outputs":4,"x":270,"y":460,"wires":[["a7e05cdb6362c677"],["e8b1e915639a618f"],["6aa46d8b2a92fcc8"],["cf3502dda698a918"]]},{"id":"a7e05cdb6362c677","type":"api-call-service","z":"28570be6da026c3f","name":"Toggle Patio Lights","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":[],"deviceId":["906238f2488c0ce9ea0943d9e04cdb84"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":400,"wires":[[]]},{"id":"cf3502dda698a918","type":"api-call-service","z":"28570be6da026c3f","name":"Toggle Pool Light","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.pool_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":580,"wires":[[]]},{"id":"6aa46d8b2a92fcc8","type":"api-call-service","z":"28570be6da026c3f","name":"Toggle Landscape Lighting","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.landscape_lighting"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":520,"wires":[[]]},{"id":"e8b1e915639a618f","type":"api-call-service","z":"28570be6da026c3f","name":"Toggle Fence Lights","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":[],"deviceId":["6ed7054b8b38afdc473838d5dd2ffd8d"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":460,"wires":[[]]},{"id":"bb4b7b134f78099a","type":"server-state-changed","z":"28570be6da026c3f","name":"Patio Lights","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.patio_lights","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"2","valueType":"num"}],"x":150,"y":700,"wires":[["6b572842a25fa23e"],["a49d7ab1651193f4"]]},{"id":"a49d7ab1651193f4","type":"api-call-service","z":"28570be6da026c3f","name":"turn off led","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"zwave_js","service":"bulk_set_partial_config_parameters","areaId":[],"deviceId":[],"entityId":["switch.zooz_backyard_scene_controller"],"data":"{\"parameter\": \"{{ topic }}\", \"value\": 2}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":430,"y":820,"wires":[[]]},{"id":"6b572842a25fa23e","type":"api-call-service","z":"28570be6da026c3f","name":"turn on led","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"zwave_js","service":"bulk_set_partial_config_parameters","areaId":[],"deviceId":[],"entityId":["switch.zooz_backyard_scene_controller"],"data":"{\"parameter\": \"{{ topic }}\", \"value\": 3}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":430,"y":760,"wires":[[]]},{"id":"f9a9bd0d427ceab7","type":"server-state-changed","z":"28570be6da026c3f","name":"Fence Lights","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.fence_lights","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"3","valueType":"num"}],"x":150,"y":760,"wires":[["6b572842a25fa23e"],["a49d7ab1651193f4"]]},{"id":"2f5366b60b1c3460","type":"server-state-changed","z":"28570be6da026c3f","name":"Landscape Lights","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.landscape_lighting","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"4","valueType":"num"}],"x":170,"y":820,"wires":[["6b572842a25fa23e"],["a49d7ab1651193f4"]]},{"id":"69252726a3b47c84","type":"server-state-changed","z":"28570be6da026c3f","name":"Pool Light","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.pool_light","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"5","valueType":"num"}],"x":140,"y":880,"wires":[["6b572842a25fa23e"],["a49d7ab1651193f4"]]},{"id":"f72d3a1e3139c1b9","type":"comment","z":"28570be6da026c3f","name":"Keep Scene LED in sync with state","info":"","x":180,"y":660,"wires":[]},{"id":"303732edfcac30e4","type":"api-call-service","z":"bbec39cb3afd5f5d","name":"Turn on A/C","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.nest_downstairs","climate.downstairs"],"data":"{\"temperature\": 78, \"hvac_mode\": \"cool\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":180,"wires":[["68644fdfe2977ddf"]]},{"id":"68644fdfe2977ddf","type":"api-call-service","z":"bbec39cb3afd5f5d","name":"","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"climate","service":"turn_on","areaId":[],"deviceId":[],"entityId":["climate.nest_downstairs","climate.downstairs"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":200,"wires":[[]]},{"id":"47f23de41b52e18f","type":"server-state-changed","z":"bbec39cb3afd5f5d","name":"House Temperature","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.nest_downstairs_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"78","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":180,"wires":[["f879cdd3d062ab14"],[]]},{"id":"79bf18f74d90d8b7","type":"comment","z":"bbec39cb3afd5f5d","name":"Cool the house if too hot","info":"","x":130,"y":40,"wires":[]},{"id":"f879cdd3d062ab14","type":"api-current-state","z":"bbec39cb3afd5f5d","name":"House asleep","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.house_is_asleep","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":220,"y":120,"wires":[["f851565426f94de1"],[]]},{"id":"c1a588ebad09bea5","type":"switch","z":"bbec39cb3afd5f5d","name":"AC_NOTIFICATION","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"AC_NOTIFICATION_SILENCE","vt":"str"},{"t":"eq","v":"AC_NOTIFICATION_TRY_AGAIN","vt":"str"},{"t":"eq","v":"AC_NOTIFICATION_TURN_ON","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":310,"y":360,"wires":[["52772f16602080b5"],["cbc930d5f8080bc3"],["303732edfcac30e4"]]},{"id":"b3926b0b13bea0c7","type":"switch","z":"bbec39cb3afd5f5d","name":"Awaiting a response","property":"AC_NOTIFICATION_AWAITING_RESPONSE","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":260,"wires":[["4432530f0c88d447"],[]]},{"id":"4432530f0c88d447","type":"function","z":"bbec39cb3afd5f5d","name":"","func":"global.set('AC_NOTIFICATION_AWAITING_RESPONSE', false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":260,"wires":[["c1a588ebad09bea5"]]},{"id":"c1c73699b15ba9af","type":"link in","z":"bbec39cb3afd5f5d","name":"","links":["ae46efbc42748f20"],"x":45,"y":260,"wires":[["b3926b0b13bea0c7"]]},{"id":"b871ef4885970276","type":"comment","z":"bbec39cb3afd5f5d","name":"A/C Notification Response","info":"","x":150,"y":300,"wires":[]},{"id":"f851565426f94de1","type":"api-current-state","z":"bbec39cb3afd5f5d","name":"A/C Override","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.override_ac_control","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":60,"wires":[["4f2f1c268b7924b6"],[]]},{"id":"52772f16602080b5","type":"api-call-service","z":"bbec39cb3afd5f5d","name":"Override A/C Control","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.override_ac_control"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":340,"wires":[[]]},{"id":"cbc930d5f8080bc3","type":"api-call-service","z":"bbec39cb3afd5f5d","name":"Override A/C Control","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.override_ac_control"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":420,"wires":[["711b7c7626461614"]]},{"id":"711b7c7626461614","type":"delay","z":"bbec39cb3afd5f5d","name":"Wait for 10 Mins","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":860,"y":420,"wires":[["7ec1e8318ec0d78f","4f2f1c268b7924b6"]]},{"id":"7ec1e8318ec0d78f","type":"api-call-service","z":"bbec39cb3afd5f5d","name":"Override A/C Control","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.override_ac_control"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":420,"wires":[[]]},{"id":"7a1a7c63fc02884c","type":"function","z":"bbec39cb3afd5f5d","name":"Set awaiting Notification","func":"global.set('AC_NOTIFICATION_AWAITING_RESPONSE', true);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":80,"wires":[[]]},{"id":"1ba74da9b783e32b","type":"server-state-changed","z":"bbec39cb3afd5f5d","name":"HVAC On","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"climate.nest_downstairs","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"cool, heating","halt_if_type":"str","halt_if_compare":"includes","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":560,"wires":[["150dbe69483fd8bd"],[]]},{"id":"150dbe69483fd8bd","type":"subflow:ad692df571edaaad","z":"bbec39cb3afd5f5d","name":"","x":370,"y":540,"wires":[["b891f842c529c2c3","70e08543acdf8578"],[]]},{"id":"b891f842c529c2c3","type":"api-call-service","z":"bbec39cb3afd5f5d","name":"","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_johns_telemaphone","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"You have doors or windows open, what do you want to do?\",\"title\":\"The HVAC just came on!\",\"data\":{\"actions\":[{\"action\":\"HVAC_SHUT_OFF\",\"title\":\"Shut it off\",\"icon\":\"sfsymbols:bolt.slash\"},{\"action\":\"HVAC_DO_NOTHING\",\"title\":\"Meh, that's fine\",\"icon\":\"sfsymbols:checkmark.seal\"},{\"action\":\"HVAC_ALEXA_ALERT\",\"title\":\"Have Alexa notify everywhere\",\"icon\":\"sfsymbols:speaker\"}]}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":520,"wires":[[]]},{"id":"6f67d1d7bfba8728","type":"link in","z":"bbec39cb3afd5f5d","name":"HVAC Notification","links":["038163e21b27e2ef"],"x":1015,"y":540,"wires":[["48bf978e10abbc0d"]]},{"id":"48bf978e10abbc0d","type":"switch","z":"bbec39cb3afd5f5d","name":"HVAC Notification","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"HVAC_SHUT_OFF","vt":"str"},{"t":"eq","v":"HVAC_DO_NOTHING","vt":"str"},{"t":"eq","v":"HVAC_ALEXA_ALERT","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1200,"y":540,"wires":[["84ca31f96d9d5b08"],[],["b5b0ca0508c289e5"]]},{"id":"70e08543acdf8578","type":"api-call-service","z":"bbec39cb3afd5f5d","name":"","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_christine_timons_iphone_13","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"You have doors or windows open, what do you want to do?\",\"title\":\"The HVAC just came on!\",\"data\":{\"actions\":[{\"action\":\"HVAC_SHUT_OFF\",\"title\":\"Shut it off\",\"icon\":\"sfsymbols:bolt.slash\"},{\"action\":\"HVAC_DO_NOTHING\",\"title\":\"Meh, that's fine\",\"icon\":\"sfsymbols:checkmark.seal\"},{\"action\":\"HVAC_ALEXA_ALERT\",\"title\":\"Have Alexa notify everywhere\",\"icon\":\"sfsymbols:speaker\"}]}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":580,"wires":[[]]},{"id":"84ca31f96d9d5b08","type":"api-call-service","z":"bbec39cb3afd5f5d","name":"","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"climate","service":"turn_off","areaId":[],"deviceId":[],"entityId":["climate.nest_downstairs","climate.downstairs"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1470,"y":500,"wires":[[]]},{"id":"b5b0ca0508c289e5","type":"api-call-service","z":"bbec39cb3afd5f5d","name":"Alexa Broadcast","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"notify","service":"alexa_media","areaId":[],"deviceId":[],"entityId":[],"data":"{\t    \"message\": \"Please close the doors and windows, the HVAC is on\",\t    \"title\": \"HVAC is on\",\t    \"target\": [\"media_player.office\", \"media_player.boudoir\", \"media_player.kitchen\", \"media_player.patio\"],\t    \"data\": {\t        \"type\": \"tts\"\t    }\t}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1470,"y":580,"wires":[[]]},{"id":"4f2f1c268b7924b6","type":"subflow:ad692df571edaaad","z":"bbec39cb3afd5f5d","name":"","x":630,"y":60,"wires":[["7af6e8bb82500202","afc3f92be7715b9c"],["303732edfcac30e4"]]},{"id":"7af6e8bb82500202","type":"api-call-service","z":"bbec39cb3afd5f5d","name":"Notify John","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"python_script","service":"iphone_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"You have doors or windows open, do you want to continue?\",\"title\":\"The A/C wants to turn on\",\"device\":\"johns_telemaphone\",\"data\":{\"actions\":[{\"action\":\"AC_NOTIFICATION_SILENCE\",\"title\":\"Silence for 24 hours\",\"icon\":\"sfsymbols:speaker.slash\"},{\"action\":\"AC_NOTIFICATION_TRY_AGAIN\",\"title\":\"Try me again in 10 mins\",\"icon\":\"sfsymbols:goforward.10\"},{\"action\":\"AC_NOTIFICATION_TURN_ON\",\"title\":\"Turn it on anyway\",\"icon\":\"sfsymbols:power.circle\"}]}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":60,"wires":[["7a1a7c63fc02884c"]]},{"id":"afc3f92be7715b9c","type":"api-call-service","z":"bbec39cb3afd5f5d","name":"Notify Christine","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"python_script","service":"iphone_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"You have doors or windows open, do you want to continue?\",\"title\":\"The A/C wants to turn on\",\"device\":\"christine_timons_iphone_13\",\"data\":{\"actions\":[{\"action\":\"AC_NOTIFICATION_SILENCE\",\"title\":\"Silence for 24 hours\",\"icon\":\"sfsymbols:speaker.slash\"},{\"action\":\"AC_NOTIFICATION_TRY_AGAIN\",\"title\":\"Try me again in 10 mins\",\"icon\":\"sfsymbols:goforward.10\"},{\"action\":\"AC_NOTIFICATION_TURN_ON\",\"title\":\"Turn it on anyway\",\"icon\":\"sfsymbols:power.circle\"}]}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":120,"wires":[["7a1a7c63fc02884c"]]},{"id":"f2898f60fdf78fb2","type":"server-state-changed","z":"bbec39cb3afd5f5d","name":"House Temperature too cold","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.nest_downstairs_temperature","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"63","halt_if_type":"num","halt_if_compare":"lt","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":720,"wires":[["e724260dc693f4a7"],[]]},{"id":"e724260dc693f4a7","type":"api-call-service","z":"bbec39cb3afd5f5d","name":"Turn on heat","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.nest_downstairs","climate.downstairs"],"data":"{\"temperature\": 63, \"hvac_mode\": \"heat\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":720,"wires":[["12da7d945e565c70"]]},{"id":"12da7d945e565c70","type":"api-call-service","z":"bbec39cb3afd5f5d","name":"","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"climate","service":"turn_on","areaId":[],"deviceId":[],"entityId":["climate.nest_downstairs","climate.downstairs"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":720,"wires":[[]]},{"id":"0742cba22dabd0a7","type":"server-events","z":"42c29c3d1f86f476","d":true,"name":"Zwave Switch","server":"2cc94903.962bf6","version":2,"eventType":"zwave_js_value_notification","exposeToHomeAssistant":false,"eventData":"","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"}],"x":110,"y":200,"wires":[["edc2a1b68710716a"]]},{"id":"edc2a1b68710716a","type":"switch","z":"42c29c3d1f86f476","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"payload.event.node_id = 15\tand payload.event.device_id = \"84feb5b4112518688f9112229971d69b\"\tand payload.event.property_key = \"001\"\tand payload.event.value = \"KeyPressed\"\t","vt":"jsonata"},{"t":"jsonata_exp","v":"payload.event.node_id = 15\tand payload.event.device_id = \"84feb5b4112518688f9112229971d69b\"\tand payload.event.property_key = \"002\"\tand payload.event.value = \"KeyPressed\"\t","vt":"jsonata"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":250,"y":200,"wires":[["0d4d48236c2e711d"],["01a63610d6f7334a"],[]]},{"id":"f85315ef1e8ca237","type":"api-call-service","z":"42c29c3d1f86f476","name":"Turn On Fan","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.shelly1_downstairs_bathroom_on_off"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":200,"wires":[["dae46ee7a4985ac4"]]},{"id":"01a63610d6f7334a","type":"api-current-state","z":"42c29c3d1f86f476","name":"Downstairs Washroom Fan","server":"2cc94903.962bf6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.shelly1_downstairs_bathroom_on_off","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":240,"wires":[["89d84d155b021484"]]},{"id":"89d84d155b021484","type":"switch","z":"42c29c3d1f86f476","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":240,"wires":[["f85315ef1e8ca237"],["50342d01904b8519"]]},{"id":"50342d01904b8519","type":"api-call-service","z":"42c29c3d1f86f476","name":"Turn Off Fan","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.shelly1_downstairs_bathroom_on_off"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":260,"wires":[[]]},{"id":"dae46ee7a4985ac4","type":"delay","z":"42c29c3d1f86f476","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1150,"y":200,"wires":[["50342d01904b8519"]]},{"id":"9fb94fb4ae794d5c","type":"comment","z":"42c29c3d1f86f476","name":"Switch Light Control","info":"","x":130,"y":100,"wires":[]},{"id":"e9c9765918aa7288","type":"server-state-changed","z":"42c29c3d1f86f476","name":"Downstairs Washroom","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.zooz_downstairs_bathroom_motion","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":380,"wires":[["6f83f436981557b4","539acb9ab7d8714b"],["8a1353e23de6c126"]]},{"id":"e724fcf04327a696","type":"api-call-service","z":"42c29c3d1f86f476","name":"Turn on lights dim","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.dimmer_dry_contact_relay"],"data":"{    \"entity_id\": \"light.dimmer_dry_contact_relay\",    \"brightness_pct\": 17}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":480,"wires":[[]]},{"id":"0d4d48236c2e711d","type":"api-current-state","z":"42c29c3d1f86f476","name":"Light State","server":"2cc94903.962bf6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.downstairs_bathroom_vanity_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":410,"y":140,"wires":[["5b462cddab747854"]]},{"id":"5b462cddab747854","type":"function","z":"42c29c3d1f86f476","name":"","func":"var payload = {\n    \"domain\": \"light\",\n    \"service\": \"turn_on\",\n    \"target\": {\n        \"entity_id\": [\"light.downstairs_bathroom_vanity_lights\"]\n    }\n}\n\nif (msg.payload == \"off\") {\n    payload[\"data\"] = {\"brightness_pct\": 100};\n} else if (msg.data.attributes.brightness < 100) {\n    payload[\"data\"] = {\"brightness_pct\": 100};\n} else {\n    payload[\"service\"] = \"turn_off\";\n}\n    \n\nmsg.payload = payload;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":140,"wires":[["f72e5e99b2eff9bc"]]},{"id":"f72e5e99b2eff9bc","type":"api-call-service","z":"42c29c3d1f86f476","name":"","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"","service":"","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":120,"wires":[[]]},{"id":"94639242bba9c32a","type":"comment","z":"42c29c3d1f86f476","name":"Light Controls","info":"","x":130,"y":300,"wires":[]},{"id":"df7223f7120ab810","type":"server-state-changed","z":"42c29c3d1f86f476","name":"Bathroom Door","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.lumi_downstairs_bathroom_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":500,"wires":[["539acb9ab7d8714b"],[]]},{"id":"7cdb381afc23c284","type":"api-current-state","z":"42c29c3d1f86f476","name":"Door Open","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.lumi_downstairs_bathroom_contact","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":670,"y":360,"wires":[["f242e51d97eda3cd"],["04dd964ee4d6c8e6"]]},{"id":"f242e51d97eda3cd","type":"api-call-service","z":"42c29c3d1f86f476","name":"Lights Off","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.dimmer_dry_contact_relay"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":380,"wires":[[]]},{"id":"3b97883a35b29dcd","type":"comment","z":"42c29c3d1f86f476","name":"Fan Control","info":"","x":110,"y":720,"wires":[]},{"id":"6f586d4bdd3191b0","type":"server-state-changed","z":"42c29c3d1f86f476","name":"Bathroom Humidity","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.zooz_downstairs_bathroom_humidity","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":780,"wires":[["2620745a181b7513"]]},{"id":"653b3da0f133c8e9","type":"function","z":"42c29c3d1f86f476","name":"","func":"var baseline_humidity = global.get('homeassistant.homeAssistant.states[\\\"sensor.nest_downstairs_humidity\\\"].state');\nif (msg.payload > baseline_humidity && (msg.payload - baseline_humidity) > 5) {\n    msg = {\"payload\": true};\n} else {msg = {\"payload\": false};}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":780,"wires":[["45b9199de7e510c1"]]},{"id":"45b9199de7e510c1","type":"switch","z":"42c29c3d1f86f476","name":"Humidity High","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":780,"wires":[["d282ba0ab3c1d73d"],["ef1b94b1bae1d255"]]},{"id":"cb709034edbfb3a8","type":"api-call-service","z":"42c29c3d1f86f476","name":"Turn On Fan","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.dimmer_dry_contact_relay_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":760,"wires":[["eaec27bf16d0f3fc"]]},{"id":"ef1b94b1bae1d255","type":"api-call-service","z":"42c29c3d1f86f476","name":"Turn Off Fan","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.dimmer_dry_contact_relay_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":840,"wires":[[]]},{"id":"d282ba0ab3c1d73d","type":"api-current-state","z":"42c29c3d1f86f476","name":"Is occupied","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.downstairs_washroom_occupied","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":770,"y":760,"wires":[["3e5ba4fc3223cc54"],["ef1b94b1bae1d255"]]},{"id":"3e5ba4fc3223cc54","type":"api-current-state","z":"42c29c3d1f86f476","name":"Is fan on","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.dimmer_dry_contact_relay_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":940,"y":740,"wires":[[],["cb709034edbfb3a8"]]},{"id":"04dd964ee4d6c8e6","type":"ha-wait-until","z":"42c29c3d1f86f476","name":"Wait for door","server":"2cc94903.962bf6","version":2,"outputs":1,"entityId":"binary_sensor.lumi_downstairs_bathroom_contact","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"minutes","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"x":710,"y":420,"wires":[["f242e51d97eda3cd"]]},{"id":"dc641219bfa3604a","type":"delay","z":"42c29c3d1f86f476","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":500,"y":360,"wires":[["7cdb381afc23c284"]]},{"id":"8a1353e23de6c126","type":"api-current-state","z":"42c29c3d1f86f476","name":"Lights On","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.dimmer_dry_contact_relay","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":360,"wires":[["dc641219bfa3604a"],[]]},{"id":"6f83f436981557b4","type":"change","z":"42c29c3d1f86f476","name":"Reset wait","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":440,"wires":[["04dd964ee4d6c8e6","dc641219bfa3604a"]]},{"id":"9ccab31847a0fcfe","type":"server-state-changed","z":"42c29c3d1f86f476","name":"Fan turns on","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"fan.downstairs_washroom","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":900,"wires":[["d4a0f3f6a27c2b28"],["b36c22eaa35ff02e"]]},{"id":"30df9419e36bd7b7","type":"delay","z":"42c29c3d1f86f476","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":520,"y":900,"wires":[["5c8b48bf461f6caf"]]},{"id":"5c8b48bf461f6caf","type":"api-current-state","z":"42c29c3d1f86f476","name":"Is occupied","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.downstairs_washroom_occupied","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":980,"wires":[["30df9419e36bd7b7"],["377e63605c73176c"]]},{"id":"377e63605c73176c","type":"api-call-service","z":"42c29c3d1f86f476","name":"Turn Off Fan","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.dimmer_dry_contact_relay_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":920,"wires":[[]]},{"id":"539acb9ab7d8714b","type":"api-current-state","z":"42c29c3d1f86f476","name":"Is house asleep","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.house_is_asleep","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":520,"wires":[["e724fcf04327a696"],["a4bcae4a01e5b6dd"]]},{"id":"a4bcae4a01e5b6dd","type":"api-call-service","z":"42c29c3d1f86f476","name":"Turn on lights full","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.dimmer_dry_contact_relay"],"data":"{    \"entity_id\": \"light.dimmer_dry_contact_relay\",    \"brightness_pct\": 100}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":540,"wires":[[]]},{"id":"fa69f15de9eecc31","type":"comment","z":"42c29c3d1f86f476","name":"Bathroom Occupancy","info":"","x":140,"y":1060,"wires":[]},{"id":"81cfebfb3f114f79","type":"ha-wait-until","z":"42c29c3d1f86f476","name":"Wait for motion","server":"2cc94903.962bf6","version":2,"outputs":2,"entityId":"binary_sensor.zooz_downstairs_bathroom_motion","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"30","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"x":360,"y":1120,"wires":[["94ce3a2adee48b8d"],["74d074100eee72d2"]]},{"id":"d62bb406c8f01254","type":"api-call-service","z":"42c29c3d1f86f476","name":"Set Occupied","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.downstairs_washroom_occupied"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":1080,"wires":[[]]},{"id":"94ce3a2adee48b8d","type":"api-current-state","z":"42c29c3d1f86f476","name":"Door Closed","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.lumi_downstairs_bathroom_contact","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":1080,"wires":[["d62bb406c8f01254"],["74d074100eee72d2"]]},{"id":"74d074100eee72d2","type":"api-call-service","z":"42c29c3d1f86f476","name":"Set Unoccupied","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.downstairs_washroom_occupied"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":1160,"wires":[[]]},{"id":"eaec27bf16d0f3fc","type":"api-call-service","z":"42c29c3d1f86f476","name":"Set automation","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.fan_turned_on_by_automation"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":760,"wires":[[]]},{"id":"d4a0f3f6a27c2b28","type":"api-current-state","z":"42c29c3d1f86f476","name":"On By Automation","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.fan_turned_on_by_automation","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":900,"wires":[[],["30df9419e36bd7b7"]]},{"id":"b36c22eaa35ff02e","type":"api-call-service","z":"42c29c3d1f86f476","name":"Unset automation","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.fan_turned_on_by_automation"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":290,"y":960,"wires":[[]]},{"id":"2620745a181b7513","type":"api-current-state","z":"42c29c3d1f86f476","name":"On By Automation","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.fan_turned_on_by_automation","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":720,"wires":[["653b3da0f133c8e9"],[]]},{"id":"b3322d842ec004f6","type":"server-state-changed","z":"42c29c3d1f86f476","name":"Bathroom Door","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.lumi_downstairs_bathroom_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":1140,"wires":[["81cfebfb3f114f79"],["74d074100eee72d2"]]},{"id":"5634a3f360562f56","type":"server-events","z":"42c29c3d1f86f476","d":true,"name":"Zwave Switch","server":"2cc94903.962bf6","version":2,"eventType":"zwave_js_value_notification","exposeToHomeAssistant":false,"eventData":"","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"}],"x":670,"y":480,"wires":[[]]},{"id":"e30a0ee5a1d53d9c","type":"server-state-changed","z":"3e8e1b0944ba335e","name":"Do not disturb office","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.lumi_office_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":130,"y":120,"wires":[["cce97fdc1336c1ec"],["baf1f22f11227117","5f2e0ea5acb008b8"]]},{"id":"cce97fdc1336c1ec","type":"api-current-state","z":"3e8e1b0944ba335e","name":"Work Hours","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.work_hours","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":100,"wires":[["4f1f015a6ab5ed9e"],["baf1f22f11227117"]]},{"id":"5f2e0ea5acb008b8","type":"api-current-state","z":"3e8e1b0944ba335e","name":"In Do Not Disturb","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.do_not_disturb","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":140,"wires":[["baf1f22f11227117","8b77d0f1395ccc45"],[]]},{"id":"4f1f015a6ab5ed9e","type":"api-call-service","z":"3e8e1b0944ba335e","name":"Set do not disturb","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.do_not_disturb"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":80,"wires":[["521c8e419ac468d6"]]},{"id":"521c8e419ac468d6","type":"change","z":"3e8e1b0944ba335e","name":"Do not disturb Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\":{\"message\":\"The office door is closed, please do not disturb\",\"title\":\"Do not disturb mode\",\"device\":\"christine_timons_iphone\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":80,"wires":[["3fa384fc4832583d"]]},{"id":"baf1f22f11227117","type":"api-call-service","z":"3e8e1b0944ba335e","name":"Unset do not disturb","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.do_not_disturb"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":200,"wires":[[]]},{"id":"8b77d0f1395ccc45","type":"change","z":"3e8e1b0944ba335e","name":"Disturb at will Message","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"data\":{\"message\":\"The office door is open, disturb at will\",\"title\":\"Do not disturb mode\",\"device\":\"christine_timons_iphone\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":140,"wires":[["3fa384fc4832583d"]]},{"id":"3fa384fc4832583d","type":"api-call-service","z":"3e8e1b0944ba335e","name":"Python: iphone notification","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"python_script","service":"iphone_notification","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":100,"wires":[[]]},{"id":"311c7cd78f1e72da","type":"comment","z":"3e8e1b0944ba335e","name":"Office Do Not Disturb","info":"","x":140,"y":60,"wires":[]},{"id":"a245d15cf6e8badd","type":"server-state-changed","z":"3e8e1b0944ba335e","d":true,"name":"Office Motion","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.hue_office_motion_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":300,"wires":[["fc5e7b83efa9f92e"],["8df4f61b8fcedb8c","98fb6348c02d26ff"]]},{"id":"fc5e7b83efa9f92e","type":"api-current-state","z":"3e8e1b0944ba335e","name":"Work Hours","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.work_hours","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":280,"wires":[["4dda0b177be8a794"],[]]},{"id":"3a1c2bab0d0cfb40","type":"api-call-service","z":"3e8e1b0944ba335e","name":"Turn On Office Light","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.office_light_switch"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":280,"wires":[[]]},{"id":"8df4f61b8fcedb8c","type":"api-current-state","z":"3e8e1b0944ba335e","name":"Laptop Locked","server":"2cc94903.962bf6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.jtimon_mbp_active","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"2","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":340,"wires":[["c93c5ce82190f398"]]},{"id":"d8d25dd9b85a022f","type":"api-call-service","z":"3e8e1b0944ba335e","name":"Turn Off Office Light","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.office_light_switch"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":380,"wires":[[]]},{"id":"7248bcb454fcd376","type":"server-state-changed","z":"3e8e1b0944ba335e","d":true,"name":"Laptop Unlocks","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.jtimon_mbp_active","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":420,"wires":[["4dda0b177be8a794"],["8eab7f722948674f"]]},{"id":"8eab7f722948674f","type":"api-current-state","z":"3e8e1b0944ba335e","name":"Office Motion","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.hue_office_motion_motion","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"3","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":420,"wires":[["f0fd8665df7825f7"],[]]},{"id":"f0fd8665df7825f7","type":"api-current-state","z":"3e8e1b0944ba335e","name":"Office Door","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.lumi_office_contact","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":690,"y":380,"wires":[[],["d8d25dd9b85a022f"]]},{"id":"4dda0b177be8a794","type":"api-current-state","z":"3e8e1b0944ba335e","name":"Office Door","server":"2cc94903.962bf6","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.lumi_office_contact","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":300,"wires":[[],["3a1c2bab0d0cfb40"]]},{"id":"98fb6348c02d26ff","type":"api-current-state","z":"3e8e1b0944ba335e","name":"","server":"2cc94903.962bf6","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.jtimon_mbp_active","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":520,"wires":[["bed381c12aa679fc"]]},{"id":"bed381c12aa679fc","type":"debug","z":"3e8e1b0944ba335e","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":520,"wires":[]},{"id":"c93c5ce82190f398","type":"switch","z":"3e8e1b0944ba335e","name":"Laptop Locked","property":"payload.data.attributes.Locked","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":480,"y":360,"wires":[["f0fd8665df7825f7"]]},{"id":"1251b4ce3705424d","type":"server-state-changed","z":"3320f5fd6a883b1e","name":"Wine Closet Door","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.lumi_wine_closet_contact","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":100,"wires":[["de0879d24459ba0e"]]},{"id":"de0879d24459ba0e","type":"switch","z":"3320f5fd6a883b1e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":100,"wires":[["06fdb918654f845b"],["0af69d0d907941fd"]]},{"id":"06fdb918654f845b","type":"api-call-service","z":"3320f5fd6a883b1e","name":"","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.wine_closet_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":60,"wires":[[]]},{"id":"0af69d0d907941fd","type":"api-call-service","z":"3320f5fd6a883b1e","name":"","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.wine_closet_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":120,"wires":[[]]},{"id":"115f470a886d1a64","type":"comment","z":"3320f5fd6a883b1e","name":"Wine Closet Light","info":"","x":120,"y":40,"wires":[]},{"id":"9450f9febb728e6b","type":"server-state-changed","z":"3320f5fd6a883b1e","name":"Pantry Door","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.lumi_pantry_contact","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":280,"wires":[["416a25d46dcbeb72"]]},{"id":"416a25d46dcbeb72","type":"switch","z":"3320f5fd6a883b1e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":280,"wires":[["660df4341dc89079"],["ed5e9f6bdbc4016d"]]},{"id":"660df4341dc89079","type":"api-call-service","z":"3320f5fd6a883b1e","name":"","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.pantry_light"],"data":"{\"white\": 100}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":240,"wires":[[]]},{"id":"ed5e9f6bdbc4016d","type":"api-call-service","z":"3320f5fd6a883b1e","name":"","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.pantry_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":300,"wires":[[]]},{"id":"e089bc1cca31cf76","type":"comment","z":"3320f5fd6a883b1e","name":"Pantry Light","info":"","x":110,"y":220,"wires":[]},{"id":"9af80d40e99a6ea9","type":"server-state-changed","z":"83a0712d6f4b184f","name":"Fish Tank Leak","server":"2cc94903.962bf6","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.esphome_living_room_soil_moisture","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":".1","halt_if_type":"num","halt_if_compare":"gt","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":100,"wires":[["9cb1641397988b8a"],[]]},{"id":"9cb1641397988b8a","type":"api-call-service","z":"83a0712d6f4b184f","name":"Notify Christine","server":"2cc94903.962bf6","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_christine_timons_iphone_13","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\": \"The fish tank is leaking, flood level at {{ payload }}%\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":100,"wires":[[]]},{"id":"041736d71dcf88c7","type":"comment","z":"83a0712d6f4b184f","name":"Fish tank is leaking","info":"","x":130,"y":40,"wires":[]}]